/* CSS Transitions */
.appear-enter {
  opacity: 0.01;
}
.appear-enter.appear-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
.appear-leave {
  opacity: 1;
}
.appear-leave.appear-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Main App */
html, body, #app {
  margin: 0;
  padding: 0;
}

#header {
  height: 10vh;
  border-bottom: 1px solid black;
}

/* General App */
.app-flex {
  min-height: 90vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.app-header {
  font-size: 4em;
  color: #333;
  text-align: center;
  font-weight: 100;
  width: 100%;
}

/* Home Page */
.home-container {
  .button {
    margin: 10px;
  }
}
.home-header {
  font-size: 64px;
  color: #333;
  font-weight: 100;
}

/* Counter Page */
.counter-app {
  width: 200px;
  margin: 0 auto;
  .button {
    width: 100%;
  }
}
.counter {
  text-align: center;
  font-size: 8em;
  width: 100%;
  margin: 0 auto;
}

/* Todo Page */
.todo-app {
  background-color: #EEE;
  min-height: 90vh;

  li {
    margin-top: 10px;
    font-size: 1.4em;
    font-weight: 200;
    color: #333;
    text-decoration: none;
  }
}
